<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>크래프톤 정글 TEAM5 | RECORD GORMET</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- 카카오 맵 API 스크립트를 포함합니다. -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3685359af7ca6763d779579b4174dce7"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            createMarker()
        });
    </script>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
						<a class="button is-light" href="/login">로그인</a>
						<a class="button is-primary" href="/register">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

	<article class="message is-info">
		<div class="message-header">
		  <p>메인화면</p>
		  <button class="delete" aria-label="delete"></button>
		</div>
		<div class="message-body">
		  정글러들에게 공유하고 싶은 맛집을 등록해주세요!
		  
		  <input class="input is-primary" type="text" placeholder="Primary input">
	  </div>
	  </article>

    <!-- Map Container -->
    <div id="map" style="width: 500px; height: 400px;"></div> 
    
    
    <script type="text/javascript">
        $(document).ready(function () {
            // 카카오 맵 API 로드가 완료된 후에 initMap 함수 호출
            kakao.maps.load(initMap);
        });

        function initMap() {
            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(37.297875428836804, 127.03861803212595),
                level: 3
            };

            var map = new kakao.maps.Map(container, options);

            // createMarker 함수 호출
            createMarker(map);
        }


        function createMarker(map){ 
            $.ajax({
                type: "POST",
                url:"/api/createMarker",
                data: {},
                success: function(response){
                  let datalist=response['data_list']

                  for(let i=0;i<datalist.length;i++)
                  {
                    let data=datalist[i]
                    let placename=data['placename']
                    let url=data['place_url']
                    let lat=data['lat']
                    let lng=data['lng']

                    // 마커가 표시될 위치입니다 
	                var markerPosition  = new kakao.maps.LatLng(lng[i], lat[i]);

                    // 마커를 생성합니다
	                var marker = new kakao.maps.Marker({
                        position: markerPosition
	                            });

                    }
                     // 마커가 지도 위에 표시되도록 설정합니다
	                        marker.setMap(map);
            }
            })
        }
	    </script>

</body>
</html>