<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>크래프톤 정글 TEAM5 | RECORD GORMET</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
						<a class="button is-light" href="/login">로그인</a>
						<a class="button is-primary" href="/register">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

	<article class="message is-info">
		<div class="message-header">
		  <p>메인화면</p>
		  <button class="delete" aria-label="delete"></button>
		</div>
		<div class="message-body">
		  정글러들에게 공유하고 싶은 맛집을 등록해주세요!
		  
		  <input class="input is-primary" type="text" placeholder="Primary input">
	  </div>
	  </article>


</body>
</html>