<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}" />
    <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
</head>
<body>
    <div class="hero is-primary is-fullheight">
    <div class="hero-body">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                <form action="/api/login" method="post" class="box">
                    <!-- Server Message -->
                    {% if msg %}
                    <div class="notification is-danger">
                    {{ msg }}
                    </div>
                    {% endif %}
                    <!-- ID Field -->
                    <div class="field">
                        <label class="label">아이디</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" name="id_give" placeholder="아이디 입력">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <!-- Password Field -->
                    <div class="field">
                        <label class="label">비밀번호</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" name="pw_give" placeholder="비밀번호 입력">
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="field">
                        <div class="control">
                            <button class="button is-link">제출</button>
                        </div>
                    </div>

                    <!-- Register Link -->
                    <div class="field">
                        <div class="control">
                            <a href="/register">회원가입</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>
