<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}" />
    <!-- 카카오 맵 API 스크립트를 포함합니다. -->
    <script type="text/javascript"
        src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=3685359af7ca6763d779579b4174dce7"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <title>Document</title>
    <style>
    @import url(https://fonts.googleapis.com/css?family=Oswald);
    @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
    @import url(https://fonts.googleapis.com/css?family=Pacifico);

.title-nav{
    font-family: "Pacifico", sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 1000px;
    text-transform: none!important;
}
    </style>
</head>

<body>


    <!-- Navigation Bar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <!-- 왼쪽에 제목 추가 -->
            <div class="navbar-start">
                <div class="navbar-item">
                    <a class="navbar-item title-nav" href="/">Gourmet in Jungle</a>
            </div>
    
            <!-- 오른쪽 버튼 -->
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light">님</a>
                        <a class="button is-primary" href="/">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    


    <!-- Map Container -->
    <div id="map" style="width: 500px; height: 400px;"></div>

    <!-- 음식점 정보를 표시할 부분 -->
    <div id="restaurant-info"></div>


    <script type="text/javascript">
        $(document).ready(function () {
            // 카카오 맵 API 로드가 완료된 후에 initMap 함수 호출
            kakao.maps.load(initMap);
        });

        var openCustomOverlay = null; // 커스텀 오버레이를 추적하는 변수를 함수 밖에 정의

        function initMap() {
            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(37.297875428836804, 127.03861803212595),
                level: 3
            };

            var map = new kakao.maps.Map(container, options);

            // createMarker 함수 호출
            createMarker(map);
        }

        function createMarker(map) {
            $.ajax({
                type: "POST",
                url: "/api/createMarker",
                data: {},
                success: function (response) {
                    let datalist = response['data_list'];

                    for (let i = 0; i < datalist.length; i++) {
                        let data = datalist[i];
                        let placename = data['placename'];
                        let url = data['place_url'];
                        let lat = parseFloat(data['lat']);
                        let lng = parseFloat(data['lng']);
                        let reviewcount = data['reviewcount'];

                        // 마커가 표시될 위치입니다 
                        var markerPosition = new kakao.maps.LatLng(lng, lat);

                        // 마커 이미지 선택
                        var markerImage = chooseMarkerImage(reviewcount);

                        // 마커를 생성합니다
                        var marker = new kakao.maps.Marker({
                            position: markerPosition,
                            image: markerImage
                        });

                        // 마커가 지도 위에 표시되도록 설정합니다
                        marker.setMap(map);

                        // 커스텀 오버레이 생성
                        var content = '<div style="padding:5px;font-size:12px;">' + placename + '<br><a href="' + url + '" target="_blank">상세정보 보기</a></div>';
                        var customOverlay = new kakao.maps.CustomOverlay({
                            position: markerPosition,
                            content: content,
                            xAnchor: 0.5,
                            yAnchor: 1.5,
                        });

                        // 마커 클릭 이벤트 등록
                        kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, customOverlay,placename));
                    }
                }
            });
        }

        // 리뷰 카운트에 따라 마커 이미지 선택하는 함수
        function chooseMarkerImage(reviewcount) {
            if (reviewcount >= 1 && reviewcount < 5) {
                // 리뷰 등록 이미지
                return new kakao.maps.MarkerImage('https://cdn1.iconfinder.com/data/icons/color-bold-style/21/14_1-128.png', new kakao.maps.Size(40, 47));
            }
            else if (reviewcount >= 5) {
                return new kakao.maps.MarkerImage('https://cdn1.iconfinder.com/data/icons/color-bold-style/21/14_2-128.png', new kakao.maps.Size(40, 47))
            }
            else {
                // 기본 마커 이미지
                return new kakao.maps.MarkerImage('https://cdn4.iconfinder.com/data/icons/miscellaneous-outline-32r/32/Location_marker_location_pin_location_pointer_map_locator_map_pin_map_pointer-128.png', new kakao.maps.Size(40, 47));
            }
        }

        // 클릭 이벤트 생성 함수
        function makeClickListener(map, marker, customOverlay,placename) {
            return function () {
                // 클릭한 마커에 연결된 커스텀 오버레이를 지도 위에 표시합니다
                if (openCustomOverlay) {
                    openCustomOverlay.setMap(null);
                }
                customOverlay.setMap(map);
                openCustomOverlay = customOverlay;

                 // 클라이언트에서 음식점 ID를 서버에 전달하고 음식점 정보 가져오기
        getRestaurantDataFromServer(placename);


            };
        }

        function getRestaurantDataFromServer(placename) {
    $.ajax({
        type: "POST",
        url: "/api/getRestaurantData",
        data: JSON.stringify({ place_name: placename }),
        contentType: "application/json; charset=utf-8",
        success: function (response) {
            // 서버로부터 받은 음식점 데이터 처리
            displayRestaurantData(response);
        }
    });
}

function displayRestaurantData(data) {
    // TODO: 음식점 데이터를 사용하여 HTML에 표시하는 작업

    // 예시: 평가 및 리뷰 폼을 추가
    var reviewForm = '<h3>평가 및 리뷰</h3>' +
        '<form id="review-form">' +
        '<label for="rating-input">평점:</label>' +
        '<input type="number" id="rating-input" name="rating" min="1" max="5" step="0.1" required>' +
        '<br>' +
        '<label for="comment-input">리뷰:</label>' +
        '<textarea id="comment-input" name="comment" rows="4" required></textarea>' +
        '<br>' +
        '<button type="button" onclick="submitReview(\'' + data.place_name + '\')">평가 제출</button>' +
        '</form>';

    $('#restaurant-info').append(reviewForm);
}

//평가 및 리뷰 데이터 저장
function submitReview(placename) {
    var rating = $('#rating-input').val();
    var comment = $('#comment-input').val();

    // 클라이언트에서 서버로 평가 및 리뷰 데이터 전송
    $.ajax({
        type: "POST",
        url: "/api/submitReview",
        data: JSON.stringify({
            place_name: placename,
            rating: rating,
            comment: comment
        }),
        contentType: "application/json; charset=utf-8",
        success: function (response) {
            // 성공적으로 전송된 경우, 사용자에게 알림 또는 다른 작업 수행
            console.log("평가 및 리뷰가 성공적으로 저장되었습니다.");
        }
    });
}


   
    </script>
    

        <div class="pl-5">
        <div class="tile is-vertical is-6 is-offset-8">
            <div class="box">
                <article class="tile is-child box">
                  <div class="content">
                    <p class="title">정글러들의 리뷰</p>
                    <p class="subtitle">With even more content</p>
                    <div class="content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
                      <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
                      <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
                    </div>
                  </div>
                </article>
              </div>
        </div>
    </div>

    <div class="tile is-parent">
        <article class="tile is-child notification is-info is-vertical is-6">
          <p class="title"> 음식점 이름</p>
          <p class="subtitle"></p>
          <div class="content">

    <article class="media">

        
        <!-- 코멘트를 쓰는 박스 만들기 -->
       
        <div class="media-content">
          <div class="select is-rounded">
            <select>
              <option>⭐⭐⭐⭐⭐</option>
              <option>⭐⭐⭐⭐ </option>
              <option>⭐⭐⭐  </option>
              <option>⭐⭐   </option>
              <option>⭐    </option>
            </select>
          </div>
          <div class="field">
            <p class="control">
              <textarea class="textarea is-sucess is-small" placeholder="음식점이 어땠는지 알려주세요"></textarea>
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <a class="button is-primary">Submit</a>
                <a class="button is-danger">Cancel</a>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
              </div>
            </div>
          </nav>
        </div>
      </article>
          </div>

          
</body>

</html>