<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>크래프톤 정글 TEAM5 | RECORD GORMET</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  
  
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
						<a class="button is-light" href="/login">로그인</a>
						<a class="button is-primary" href="/register">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">지도가 들어갈 화면</p>
          <p class="subtitle"></p>
          <div class="content">

    <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        
        <!-- 코멘트를 쓰는 박스 만들기 -->
        <div class="media-content">
          <div class="field">
            <p class="control">
              <textarea class="textarea is-sucess" placeholder="음식점이 어땠는지 알려주세요"></textarea>
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <a class="button is-primary">Submit</a>
                <a class="button is-danger">Cancel</a>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
              </div>
            </div>
          </nav>
        </div>
      </article>


    <!-- Map Container -->
    <div id="map" style="width: 500px; height: 400px;"></div> 
    
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3685359af7ca6763d779579b4174dce7"></script>
    <script type="text/javascript">
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(37.297875428836804, 127.03861803212595),
            level: 3
        };

        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

	// 마커가 표시될 위치입니다 
	var markerPosition  = new kakao.maps.LatLng(37.297875428836804, 127.03861803212595); 

	// 마커를 생성합니다
	var marker = new kakao.maps.Marker({
    position: markerPosition
	});
      
  // 마커가 지도 위에 표시되도록 설정합니다
	marker.setMap(map);
	
	</script>

</body>
</html>
